.mall-footer {
    position: relative;
    left: 0;
    bottom: 200;
    width: 100%;
    background-color: #d32f2f;
    color: white;
    padding: 100px 50px;
    text-align: center;
}

.footer-content h3 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.footer-content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

.social-media-icons {
    margin: 20px 0;
    font-size: 24px;
}

.social-media-icons a {
    color: white;
    margin: 0 10px;
    transition: transform 0.2s;
}

.social-media-icons a:hover {
    transform: scale(1.2);
}
